* {
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
}

header {
	height: 5em;
}

header span {
	font-size: 3em;
}
	

.city-name {
/*	margin-left: 15px;
*/	float: left;
	height: 30px;
	width: 200px;
	padding-left: 0.4vw;
}

.qwerty {
	position: relative;
}

.inputHelper {
	position: absolute;
	top: 4vh;
	display: none;
	/*margin-left: 15px;*/
	float: left;
	min-height: 0;
	height: auto;
	background-color: white;
	width: 200px;
}

.weather-in-city {
	font-family: Helvetica;
	font-size: 2em;
	text-align: center;
}

.button {
	width: auto;
	float: left;
	height: 30px;
	background-color: white;
/*	margin-left: 1em;
*/}

.qwerty {
	display: flex;
	flex-direction: column;
}

main {
	text-align: center;
}

.weather {
/*	border: 1px solid black;
*/	height: 20em;
} 

.days {
	background-color: white;
	margin-top: 3em;
	margin-right: 1em;
	display: inline-block;
	width: 10em;
	height: 14em;
	border-radius: 1em;
	text-align: center;
	border: 1px solid black;
}

.days span {
	margin-left: ;
}

 .weekday {
    background-color: rgba(255, 255, 255, 0.5);
 	margin: auto;
 	width: 50%;
 	border-left: 3px solid black;
 	border-bottom: 3px solid black;
	border-right: 3px solid black;
	border-radius: 10px;
}

#city0, #city1, #city2 {
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	body {
		max-width: 100%;
		height: auto;
	}

	.city-name {
		width: 100%;
		height: 30px;
	}

	.inputHelper {
		width: 100%;
		height: auto;
	}

	.days {
		width: 45vw;
		margin: 5vw 25vw 0 25vW;
		padding: 0;
		display: block;
	}
}

@media screen and (min-width: 767px) and (max-width: 1025px) {
	.days {
		width: 20vw;
	}
}