* {
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
}

header {
	height: 5em;
}

header span {
	font-size: 3em;
}

.choose-city {
	float: left;
	margin-left: 1em;
}

.city-name {
	margin-left: 1vw;
	float: left;
	height: 4vh;
	width: 15vw;
	padding-left: 0.4vw;
}

.qwerty {
	position: relative;
}

.inputHelper {
	position: absolute;
	top: 4vh;
	display: none;
	margin-left: 1vw;
	float: left;
	min-height: 0;
	height: auto;
	background-color: white;
	width: 15vw;
}

.weather-in-city {
	font-family: Helvetica;
	font-size: 2em;
	text-align: center;
}

.button {
	width: auto;
	float: left;
	height: 4vh;
	background-color: white;
	margin-left: 1em;
}

.qwerty {
	display: flex;
	flex-direction: column;
}

main {
	text-align: center;
}

.weather {
	border: 1px solid black;
	height: 20em;
} 

.days {
	background-color: white;
	margin-top: 3em;
	margin-right: 1em;
	display: inline-block;
	width: 10em;
	height: 14em;
	border: 1px solid black;
	border-radius: 1em;
	text-align: center;
}

.days span {
	margin-left: ;
}

 .weekday {
    background-color: rgba(255, 255, 255, 0.5);
 	margin: auto;
 	width: 50%;
 	border-left: 3px solid black;
 	border-bottom: 3px solid black;
	border-right: 3px solid black;
	border-radius: 10px;
}

#city0, #city1, #city2 {
	cursor: pointer;
}